*{
	box-sizing: border-box;
	
}
body

{
	font-family: Arial, Helvetica, sans-serif;
}
p {
	
  margin-left: 10px;
  margin-right: 10px;
  margin-bottom: 10px;
  margin-top: 15px;
  height:150px;
}
h1
{
	
  margin-top: 20px;
  margin-bottom: 40px;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: crimson;
	
}
section {
  display: block;
  border: 1px solid rgb(66, 187, 10);
  margin: 10px;
  height: auto;
  background-color: rgb(117, 11, 38) ;
  color:whitesmoke;
}
h2{
  float: right;
  width: 30%;
  margin-top: 0px;
  font-size: 125%;
  text-align: center;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  color: rgb(16, 24, 99);
}
#iceCream{
	background-color: yellowgreen;
}
#Chocolate{
	background-color:green;
}
#Sweet{
	background-color: olive;
}
.col-lg-4,.col-md-6, .col-md-12, .col-sm-12 {
    background-color: white;
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
  }




.row{
	width: 100%;
}
@media(min-width: 992px){
	
	
	.col-lg-4{
		width:33.3%;
	}
	

}
@media(min-width: 768px) and (max-width: 991px){
	
	
	
	.col-md-6{
		width:50%;
	}
	
    .col-md-12{
    	width: 100%;
    }
}
@media(max-width: 767px){
	
	
    .col-sm-12{
    	width: 100%;
    }
}